<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Geolocation Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Get the devices current location</ion-card-subtitle>
      <ion-card-title>Get Current Position</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-button (click)="getCurrentPosition()" color="primary" expand="block">
        Get Position
      </ion-button>

      <ion-spinner name="bubbles" *ngIf="loadingCurrent" style="margin: 12px auto; display: block;"></ion-spinner>
      <ion-item *ngIf="currentPos">
        <pre>{{ currentPos | json }}</pre>
      </ion-item>

      <ion-button 
        expand="block" 
        *ngIf="currentPos" 
        target="_blank" 
        href="https://www.google.com/maps/dir/?api=1&destination=Our+Place+Tauranga&travelmode=driving"
      >Navigate to beer</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Watch and log the devices location</ion-card-subtitle>
      <ion-card-title>Position History</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-button (click)="startWatch()" color="primary" expand="block">
        Start Tracking
      </ion-button>

      <ion-button (click)="stopWatch()" color="secondary" expand="block">
        Stop Tracking
      </ion-button>

      <ion-spinner name="bubbles" *ngIf="loadingLog" style="margin: 12px auto; display: block;"></ion-spinner>

      <ng-container *ngIf="posWatch">
        <ion-item  *ngFor="let pos of posWatch">
          <pre>{{ pos | json }}</pre>
        </ion-item>
      </ng-container>


    </ion-card-content>
  </ion-card>

</ion-content>
