<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List View</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card id="shift-list">
    <ion-card-header>
      <ion-card-subtitle>Example CRUD operations on Lists</ion-card-subtitle>
      <ion-card-title>Manage Lists</ion-card-title>
    </ion-card-header>

    <ion-list disabled="false">
      <ion-item 
        *ngFor="let shift of shifts" 
        lines="full" 
        detail
        [color]="(shift.accepted) ? 'success' : ''" 
        (click)="showActions(shift)">
  
        <ion-label class="ion-text-wrap">
          <ion-text>
            <small>
              <ion-text color="medium">
                Job ID: {{ shift.id }}
              </ion-text>
            </small>
            <br />
            <strong>Location: {{ shift.location }}</strong>
          </ion-text>
        </ion-label>
  
      </ion-item>
    </ion-list>

  </ion-card>



</ion-content>
