<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="./assets/gallery.png" style="max-height: 300px;"/>
        <h2>Image Gallery</h2>
        <p>
          Use the camera to add images to a gallery.<br /> 
          <small>note: images can be retrieved in the device gallery directory.</small>
        </p>
        <p>
          To scroll the Image gallery swipe left or right.
        </p>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let item of gallery">
      <div class="slide">
        <img [src]="domSanitizer.bypassSecurityTrustUrl(item.webPath)"/>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-fab-button (click)="takePicture()" style="display: block; margin: 24px auto;">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-footer>