// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #306d15;
  --ion-color-primary-rgb: 48,109,21;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2a6012;
  --ion-color-primary-tint: #457c2c;

  --ion-color-secondary: #143008;
  --ion-color-secondary-rgb: 20,48,8;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #122a07;
  --ion-color-secondary-tint: #2c4521;

  --ion-color-tertiary: #f2b531;
  --ion-color-tertiary-rgb: 242,181,49;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d59f2b;
  --ion-color-tertiary-tint: #f3bc46;

  --ion-color-success: #49ad1f;
  --ion-color-success-rgb: 73,173,31;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #40981b;
  --ion-color-success-tint: #5bb535;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #edeef3;
  --ion-color-light-rgb: 237,238,243;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d1d1d6;
  --ion-color-light-tint: #eff0f4;
}

//@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors 595959 f7f7f7
   * -------------------------------------------
   */

   @mixin ios-dark {
    --ion-background-color: #595959;
    --ion-background-color-rgb: 89,89,89;
  
    --ion-text-color: #f7f7f7;
    --ion-text-color-rgb: 247,247,247;
  
    --ion-color-step-50: #616161;
    --ion-color-step-100: #696969;
    --ion-color-step-150: #717171;
    --ion-color-step-200: #797979;
    --ion-color-step-250: #818181;
    --ion-color-step-300: #888888;
    --ion-color-step-350: #909090;
    --ion-color-step-400: #989898;
    --ion-color-step-450: #a0a0a0;
    --ion-color-step-500: #a8a8a8;
    --ion-color-step-550: #b0b0b0;
    --ion-color-step-600: #b8b8b8;
    --ion-color-step-650: #c0c0c0;
    --ion-color-step-700: #c8c8c8;
    --ion-color-step-750: #d0d0d0;
    --ion-color-step-800: #d7d7d7;
    --ion-color-step-850: #dfdfdf;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #efefef;
  
    --ion-toolbar-background: #616161;
  
    --ion-item-background: #616161;
    --ion-item-background-activated: #616161;
  
    ion-title.title-large {
      --color: white;
    }
  }
  
  @mixin md-dark {
    --ion-background-color: #333333;
    --ion-background-color-rgb: 89,89,89;
  
    --ion-text-color: #f7f7f7;
    --ion-text-color-rgb: 247,247,247;
  
    --ion-color-step-50: rgb(51, 51, 51);
    --ion-color-step-100: #696969;
    --ion-color-step-150: #717171;
    --ion-color-step-200: #797979;
    --ion-color-step-250: #818181;
    --ion-color-step-300: #888888;
    --ion-color-step-350: #909090;
    --ion-color-step-400: #989898;
    --ion-color-step-450: #a0a0a0;
    --ion-color-step-500: #a8a8a8;
    --ion-color-step-550: #b0b0b0;
    --ion-color-step-600: #b8b8b8;
    --ion-color-step-650: #c0c0c0;
    --ion-color-step-700: #c8c8c8;
    --ion-color-step-750: #d0d0d0;
    --ion-color-step-800: #d7d7d7;
    --ion-color-step-850: #dfdfdf;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #efefef;
  
    --ion-toolbar-background: rgb(27, 27, 27);
  
    --ion-item-background: rgb(19, 19, 19);
    --ion-item-background-activated: rgb(26, 26, 26);

    --ion-color-primary: #46a11f;
    --ion-color-primary-rgb: 48,109,21;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #347717;
    --ion-color-primary-tint: #559936;
  
    --ion-color-secondary: #327714;
    --ion-color-secondary-rgb: 20,48,8;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #122a07;
    --ion-color-secondary-tint: #213319;
  
    ion-title.title-large {
      --color: white;
    }
  }
  
  @media (prefers-color-scheme: dark) {
  
    .ios body.dark {
      @include ios-dark;
    }
  
    .md body.dark {
      @include md-dark;
    }
  }
  
  .ios body.dark {
    @include ios-dark;
  }
  
  .md body.dark {
    @include md-dark;
  }
// }