<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>QR Code Scanner</ion-title>
  </ion-toolbar>                                    
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Create and Download a QR Code for testing</ion-card-subtitle>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">QR Code Value</ion-label>
        <ion-input
          type="text"
          placeholder="QR Code Data"
          [(ngModel)]="qrData"
        ></ion-input>
      </ion-item>

      <ngx-qrcode 
        [elementType]="elementType" 
        [value]="qrData"
        qrc-class="large-qr"
        qrc-errorCorrectionLevel="L"
      >
      </ngx-qrcode>

      <ion-button expand="block" (click)="downloadQR()" color="tertiary" *ngIf="elementType === 'canvas'">
        Download QR Code
      </ion-button>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-button expand="block" (click)="scanCode()" color="secondary">
      Scan Code
    </ion-button>

    <ion-card-content  *ngIf="scannedCode">
      <label>Scan Result:</label>
      <pre>{{ scannedCode | json }}</pre>
    </ion-card-content>
  </ion-card>

</ion-content>
